{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block content %}
<div id="name">
    <h1 class="uppercase">{{ location.name }}</h1>
</div>

<div class='row'>
   	<div class='col-xs-12 col-md-6 col-sm-6 info-group'>
   		<ul class='list-group info-group-list'>
			<li class='list-group-item'>
			    {{ location.kind|capfirst }}
			</li>
			{% if location.kind == 'school' %}
				<li class='list-group-item'>
					{{ location.country }}
				</li>
			{% endif %}
			{% if location.kind == 'shop' %}
				{% if location.owners.all %}
					<li class='list-group-item'>
						Owned by
						<ul>
						{% for owner in location.owners.all %}
							<li>
							{% if not owner.hidden %}
								<a href='{% url "character" owner.id %}'>
							{% endif %}
							{{ owner.name }}
							{% if not owner.hidden %}
								</a>
							{% endif %}
							</li>
						{% endfor %}
						</ul>
					</li>
				{% endif %}
				{% if location.locations.all %}
					<li class='list-group-item'>
						Located in
						<ul>
						{% for l in location.locations.all %}
							<li>
								<a href='{% url "location" l.id %}'>{{ l.name }}</a>
							</li>
						{% endfor %}
						</ul>
					</li>
				{% endif %}
			{% endif %}
		</ul>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6'>
		<div class='main-image pull-right'>
			<img class='list-group-item' src='{{ location.image.url }}'>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{{ location.description|safe }}
	</div>
</div>

{% if location.stories.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
			<h3>RELATED STORIES</h3>
			{% for story in location.stories.all %}
		  		<a href="{% url 'story' story.id %}">{{ story.name }}</a><br/>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if location.shops.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
			<h3>SHOPS</h3>
			{% for shop in location.shops.all %}
		  		<a href="{% url 'shop' shop.id %}">{{ shop.name }}</a><br/>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% endblock content %}
