{% extends "base.html" %}

{% block scripts %}
<link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
{% endblock scripts %}

{% block content %}
        <div id="name">
   		    <h1 class="uppercase">{{ house.name }}</h1>
        </div>
<div class='row'>
   	<div class='col-xs-12 col-md-6 col-sm-6 info-group'>
   		<ul class='list-group info-group-list'>
			{% if house.founder %}
			<li class='list-group-item'>
				Founded by 
				{% if not house.founder.hidden %}
				 	<a href="{% url 'character' house.founder.id %}">
				{% endif %}
				{{ house.founder.name }}
				{% if not house.founder.hidden %}
					</a>
				{% endif %}
					
			</li>
			{% endif %}
			{% if house.school %}
				 	<a href="{% url 'school' house.school.id %}">{{ house.school.name }}</a>
				{% endif %}
			</li>
			{% endif %}
			{% if house.ghost %}
			<li class='list-group-item'>
				Haunted by  
				{% if not house.ghost.hidden %}
				 	<a href="{% url 'character' house.ghost.id %}">
				{% endif %}
				{{ house.ghost.name }}
				{% if not house.ghost.hidden %}
					</a>
				{% endif %}
			</li>
			{% endif %}
			{% if house.colors %}
			<li class='list-group-item'>
				House Colors: {{ house.colors }}
			</li>
			{% endif %}
			{% if house.mascot %}
			<li class='list-group-item'>
				Mascot: {{ house.mascot }}
			</li>
			{% endif %}

		</ul>
		<blockquote>
			<p>{{ houses.quote|safe }}</p>
			<footer>{{ houses.quote_by }}</footer>
		</blockquote>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6'>
		<div class='main-image'>
			<img class='list-group-item' src='{{ house.image.url }}'>
		</div>
	</div>
</div>


<div class='row'>
	<div class='col-md-12' id='description'>
		{{ houses.description|safe }}
	</div>
</div>

{% endblock content %}
