{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block breadcrumbs_items %}
<li><a href="{% url 'locations' %}">Locations</a></li>
<li class='active'>{{ shop.name }}</li>
{% endblock breadcrumbs_items %}

{% block content %}
<div id="name">
    <h1 class="uppercase">{{ shop.name }}</h1>
</div>

<div class='row'>
   	<div class='col-xs-12 col-md-6 col-sm-6 info-group'>
   		<ul class='timeline-single'>
            <li class='timeline-inverted'>
                <div class='timeline-badge info'><i class='glyphicon glyphicon-info-sign'></i></div>
                <div class='timeline-panel'>
        	        <div class='timeline-body'>
   						<ul class='list-group info-group-list'>
							<li class='list-group-item'>
			    				{{ shop.kind|capfirst }}
							</li>
							{% if shop.owners.all %}
								<li class='list-group-item'>
									Owned by<br/>
									{% for owner in shop.owners.all %}
										{% if not owner.hidden %}
											<a href='{% url "character" owner.id %}'>
										{% endif %}
										+ {{ owner.name }}
										{% if not owner.hidden %}
											</a>
										{% endif %}
										<br/>
									{% endfor %}
								</li>
							{% endif %}

							{% if shop.locations.all %}
								<li class='list-group-item'>
									Located in<br/>
									{% for location in shop.locations.all %}
										+ <a href='{% url "location" location.id %}'>{{ location.name }}</a><br/>
									{% endfor %}
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6'>
		<div class='main-image pull-right'>
			<img class='list-group-item' src='{{ shop.image.url }}'>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{{ shop.description|safe }}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<ul class='timeline'>
			<li class="{% cycle 'timeline-inverted' '' as inversion %}" style='display: none;'></li>
			{% if shop.stories.all %}
 				<li class="{% cycle inversion %}">
 					<div class='timeline-badge success'><i class='glyphicon glyphicon-leaf'></i></div>
        			<div class='timeline-panel'>
            			<div class='timeline-heading'>
	               			<h3 class='timeline-title uppercase'>Related Stories</h3>
    	       			</div>
        	   			<div class='timeline-body'>
        	   				{% for story in shop.stories.all %}
		  						<a href="{% url 'story' story.id %}">{{ story.name }}</a><br/>
							{% endfor %}
						</div>
					</div>
				</li>
			{% endif %}

			{% if shop.artifacts.all %}
 				<li class="{% cycle inversion %}">
 					<div class='timeline-badge warning'><i class='glyphicon glyphicon-glass'></i></div>
        			<div class='timeline-panel'>
            			<div class='timeline-heading'>
	               			<h3 class='timeline-title uppercase'>Artifacts Sold</h3>
    	       			</div>
        	   			<div class='timeline-body'>
							{% for artifact in shop.artifacts.all %}
		  						<a href="{% url 'artifact' artifact.id %}">{{ artifact.name }}</a><br/>
							{% endfor %}
						</div>
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock content %}
