{% extends "stories/base.html" %}

{% block story_active %}
in
{% endblock story_active %}

{% block name %}
Deathly Hallows
{% endblock name %}

{% block info_group %}
<li class='list-group-item'>Legend</li>
<li class='list-group-item'>13th Century</li>
<li class='list-group-item'>As told in The Tales of Beedle the Bard</li>
{% endblock info_group %}

{% block image_url %}
{{ STATIC_URL }}images/deathly-hallows.png
{% endblock image_url %}

{% block description %}
<p>The Deathly Hallows are three powerful magical objects created by Death given to three brothers, Antioch Peverell, Cadmus Peverell, and Ignotus Peverell. Many years ago, the Peverell brothers were travelling at twilight and reached an uncrossable river. Since they were wizards, they simply created a bridge to cross. Death stopped them, congragulating them on escaping him, and offered each an object of their choosing. Antioch received the <a href='/artifacts/2'>Elder Wand</a>, the most powerful wand of all time. Cadmus received the Resurrection Stone, a stone which could bring the dead back to life. Finally, Ignotus received the <a href='/artifacts/3'>Cloak of Invisibility,</a> as he did not trust Death and wanted to continue escaping him.</p>

<p>After each went their separate ways, Antioch bragged about the power of the Elder Wand and was murdered in his sleep by another who wanted to possess it. Cadmus used the Resurrection Stone to bring back his dead lover, but what came back was not truly her. He committed suicide from grief. Ignotus used the cloak and finally greeted Death willingly as an old man.</p>

<p>According to this legend, the person who holds all three of these items becomes the Master of Death. Only <a href='/characters/3'>Harry Potter</a> has had all three at once. Harry received the Invisibility Cloak from his father, James Potter, and it is believed that Ignotus Peverell is a paternal ancestor to him. <a href='/characters/1'>Albus Dumbledore</a> had the Elder Wand, but lost it to Draco Malfoy who disarmed him. Harry Potter eventually took this from Malfoy. Finally, Dumbledore left the Resurrection Stone to Harry in the golden snitch left to him in Dumbledore's will.</p>

{% endblock description %}

{% block characters %}
Antioch Peverell<br/>
Cadmus Peverell<br/>
Ignotus Peverell<br/>
<a href='/characters/1'>Albus Dumbledore</a><br/>
<a href='/characters/3'>Harry Potter</a>
{% endblock characters %}

{% block artifacts %}
<a href='/artifacts/2'>Elder Wand</a><br/>
<a href='/artifacts/3'>Invisibility Cloak</a><br/>
Resurrection Stone
{% endblock artifacts %}

{% block settings %}
None
{% endblock settings %}