{% extends "stories/base.html" %}

{% block name %}
The Boy Who Lived
{% endblock name %}

{% block info_group %}
<li class='list-group-item'>History</li>
<li class='list-group-item'>October 31st, 1980</li>
<li class='list-group-item'>The Rise and Fall of the Dark Arts</li>
{% endblock info_group %}

{% block description %}
<p><a href='/characters/3'>Harry Potter</a> was born on July 31st, 1980, to Lily and James Potter. His parents were members of the Order of the Phoenix, an organization dedicated to bringing about the ruin of Lord Voldemort. From birth, he lived in hiding with his parents after Voldemort marked him, and Neville Longbottom, for death. Neville was born just a few hours before Harry Potter. Voldemort feared the boys because of The Prophecy.</p>

<p>His parents were going to make Sirius Black their Secret-Keeper, the only security loophole through the Fidelius Charm keeping them hidden in Godric's Hollow. However, they changed their secret keeper to Peter Pettigrew instead, whom they thought would be less suspicious. Unfortunately, Pettigrew was already a spy for Voldemort and he betrayed the Potters, faked his death, and framed Sirius for both as no one else knew who the true Secret-Keeper was.</p>

<p>Halloween 1981, Voldemort came to Godric's Hollow to murder the Potter family. He killed James immediately, and then killed Lily, who died protecting her son Harry. This sacrifice gave Harry an ancient magical protection based on love, and Voldemort's killing curse backfired on him. Voldemort lost all his powers, his physical form was destroyed, and Harry was left with a cursed lightning-shaped scar which formed a connection between him and his parents' killer. Everyone believed Voldemort was dead, but he would slowly crawl back from the unknown thanks to his maniacal use of horcruxes.</p>

<p>Thus ended the reign of terror of Lord Voldemort, leaving Harry Potter as an orphan and the only person to have ever survived the killing curse. At just one year of age, Harry Potter became one of the most famous wizards to ever live.</p>


{% endblock description %}

{% block characters %}
Lord Voldemort
<a href='/characters/3'>Harry Potter</a>
Lily Evans
James Potter

{% endblock characters %}

{% block artifacts %}
Horcrux
{% endblock artifacts %}

{% block settings %}
None
{% endblock settings %}