{% extends "stories/base.html" %}

{% block name %}
International Statute of Wizarding Secrecy
{% endblock name %}

{% block info_group %}
<li class='list-group-item'>Law</li>
<li class='list-group-item'>1692</li>
<li class='list-group-item'>A History of Magic</li>
{% endblock info_group %}

{% block description %}
<p>The International Statute of Wizarding Secrecy is a law in the wizarding rule first signed in 1689, then officially established in 1692. This law protects the wizarding community from Muggles, hiding their existence from their world.</p>

<p>In the 17th century, wizard-Muggle relations were at their worst. Ever since the 15th century, witches and wizards were being persecuted all over Europe. They were locked up and sentenced to death on the charge of witchcraft. While some managed to escape like Wendelin the Weird, others like Sir Nicholas de Mimsy-Porpington were not so lucky. Children were especially vulnerable, as they were unable to control their own magic, making them noticeable and powerless against their attackers. Muggles were also mistakenly identified as magical, and they had no magic to protect them from being burned at the stake.</p>

<p>The Ministry of Magic, recently created, attempted to deal with the muggle British Monarch, begging for protection under muggle law. This did not happen, which seems to be the final straw that forced the wizarding world into secrecy.</p>

<p>The Statute states that each Ministry of Magic administration is responsible for hiding the presence of the magical community within their own countries. Among other things, they must control magical beasts, public displays of underage magic, and ensure that magical games and sports are played without risk of discovery. Wizards and witches are required to blend in with the muggle community when about, such as wearing appropriate dress code around muggles.</p>


{% endblock description %}

{% block characters %}
Wendelin the Weird
Nearly-Headless Nick
{% endblock characters %}

{% block artifacts %}
None
{% endblock artifacts %}

{% block settings %}
None
{% endblock settings %}