{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block breadcrumbs_items %}
<li><a href="{% url 'stories' %}">Stories</a></li>
<li class='active'>{{ story.name }}</li>
{% endblock breadcrumbs_items %}

{% block content %}
<div id="name">
    <h1 class="uppercase">{{ story.name }}</h1>
</div>

<div class='row'>
   	<div class='col-md-5 col-sm-5 info-group'>
   		<ul class='timeline-single'>
            <li class='timeline-inverted'>
                <div class='timeline-badge info'><i class='glyphicon glyphicon-info-sign'></i></div>
                <div class='timeline-panel'>
        	        <div class='timeline-body'>
   						<ul class='list-group info-group-list'>
							<li class='list-group-item'>{{ story.kind|capfirst }}</li>
							<li class='list-group-item'>{{ story.formatted_date }}</li>
							{% if story.book %}
								<li class='list-group-item'>
									As told in <a href="{% url 'book' story.book.id %}">{{ story.book.name }}</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<blockquote>
			<p>{{ story.quote|safe }}</p>
			<footer>{{ story.quote_by }}</footer>
		</blockquote>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6'>
		<div class='main-image pull-right'>
			<img class='list-group-item' src='{{ story.image.url }}'>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{{ story.description|safe }}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<ul class='timeline'>
			<li class="{% cycle 'timeline-inverted' '' as inversion %}" style='display: none;'></li>
			{% if story.characters.all %}
				<li class="{% cycle inversion %}">
 					<div class='timeline-badge danger'><i class='glyphicon glyphicon-user'></i></div>
        			<div class='timeline-panel'>
            			<div class='timeline-heading'>
                			<h4 class='timeline-title'>CHARACTERS</h4>
            			</div>
            			<div class='timeline-body'>
							{% for character in story.characters.all %}
								{% if not character.hidden %}
									<a href="{% url 'character' character.id %}">
								{% endif %}
								{{ character.name }}
								{% if not character.hidden %}
									</a>
								{% endif %}
								<br/>
							{% endfor %}
						</div>
					</div>
				</li>
			{% endif %}

			{% if story.artifacts.all %}
				<li class="{% cycle inversion %}">
 					<div class='timeline-badge warning'><i class='glyphicon glyphicon-glass'></i></div>
        			<div class='timeline-panel'>
            			<div class='timeline-heading'>
                			<h4 class='timeline-title'>ARTIFACTS</h4>
            			</div>
            			<div class='timeline-body'>
							{% for artifact in story.artifacts.all %}
								<a href="{% url 'artifact' artifact.id %}">{{ artifact.name }}</a><br/>
							{% endfor %}
						</div>
					</div>
				</li>
			{% endif %}

			{% if story.locations.all %}
				<li class="{% cycle inversion %}">
 					<div class='timeline-badge'><i class='glyphicon glyphicon-tower'></i></div>
        			<div class='timeline-panel'>
            			<div class='timeline-heading'>
                			<h4 class='timeline-title'>SETTINGS</h4>
            			</div>
            			<div class='timeline-body'>
							{% for setting in story.locations.all %}
								<a href="{% url 'location' setting.id %}">{{ setting.name }}</a><br/>
							{% endfor %}
						</div>
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock content %}
