{% extends "base.html" %}

{% block content %}
        <div id="name">
   		    <h1 class="uppercase">{% block name %}{% endblock name %}</h1>
        </div>
<div class='row'>
   	<div class='col-md-5 col-sm-5 info-group'>
   		<ul class='list-group info-group-list'>
			{% block info_group %}{% endblock info_group %}
		</ul>
	</div>

	<div class='col-md-5 col-sm-5 main-image'>
		<img class='list-group-item' src='{% block image_url %}{% endblock image_url %}'>
	</div>

    <div class='col-md-2 col-sm-2'></div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{% block description %}{% endblock description %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>CHARACTERS</h3>
		{% block characters %}
		{% endblock characters %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>ARTIFACTS</h3>
		{% block artifacts %}
		{% endblock artifacts %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>SETTINGS</h3>
		{% block settings %}
		{% endblock settings %}
	</div>
</div>
{% endblock content %}
