{% extends "base.html" %}

{%block about-active%}active{%endblock about-active%}

{% block breadcrumbs_items %}
<li class='active'>About</li>
{% endblock breadcrumbs_items %}

{% block content %}

<h1 class='uppercase'>About</h1>

<div class='row'>
        <div class='col-xs-12 col-md-6 col-sm-6 info-group'>
            <ul class='timeline-single'>
                <li class='timeline-inverted'>
                    <div class='timeline-badge info'><i class='glyphicon glyphicon-info-sign'></i></div>
                    <div class='timeline-panel'>
                        <div class='timeline-body'>
                            <ul class='list-group info-group-list'>
                                <li class='list-group-item'>
                                    First Leader: Amanda Steinwedel<br/>
                                    Second Leader: Kaelin Hooper<br/>
                                    Third Leader: Angela Hsu<br/>
                                </li>
                                <li class='list-group-item'>
                                    Tools utlized:
                                    <ul class='two-column-list' style='-webkit-padding-start: 15px;'>
                                        <li>Python3</li>
                                        <li>Django</li>
                                        <li>MySQL</li>
                                        <li>Twitter Bootstrap</li>
                                        <li>PythonAnywhere</li>
                                        <li>Apiary</li>
                                        <li>Haystack</li>
                                        <li>Whoosh</li>
                                        <li>virtualenv</li>
                                        <li>pip3</li>
                                        <li>django-haystack</li>
                                        <li>django-tables2</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class='col-xs-12 col-md-6 col-sm-6'>
                <div class='main-image pull-right'>
                        <img src='{{STATIC_URL}}/images/7-potters.jpg'>
                </div>
        </div>
</div>

<div class='row'>
        <div class='col-md-12'>
                </br>
                Marauder's Map is dedicated to improving Muggle and Wizard relations, gathering and displaying information about
                the vast universe contained within the Harry Potter series. Information
                gathered from <a href="/citations/">many sources</a> about characters, creatures, stories, artifacts, spells,
                potions, locations, houses and books is organized and displayed here.
        </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <h3 class='uppercase'>Member Roles and Responsibilities:</h3>
        Everyone has worked on general website layout design and debugging, but this list goes over more specific roles:<br/><br/>

        <ul class='timeline'>
            <li>
                <div class='timeline-badge'>AS</div>
                <div class='timeline-panel'>
                    <div class='timeline-heading'>
                        <h3 class='timeline-title'>Amanda Steinwedel</h3>
                    </div>
                    <div class='timeline-body'>
                        <ul>
                            <li>Data model design</li>
                            <li>Front-end design and mobile responsiveness</li>
                            <li>Implementation of Stories and Locations
                                <ul>
                                    <li>Model code and unit tests</li>
                                    <li>API code and unit tests</li>
                                    <li>Data population</li>
                                    <li>Static and dynamic Django templates</li>
                                    <li>Search indexes and unit tests</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class='timeline-inverted'>
                <div class='timeline-badge success'>AH</div>
                <div class='timeline-panel'>
                    <div class='timeline-heading'>
                        <h3 class='timeline-title'>Angela Hsu</h3>
                    </div>
                    <div class='timeline-body'>
                        <ul>
                            <li>Unit test design for models and API</li>
                            <li>Back-end implementation of utilizing Twistory's API</li>
                            <li>Front-end mobile responsiveness</li>
                            <li>Implementation of Creatures
                                <ul>
                                    <li>Model code and unit tests</li>
                                    <li>API code and unit tests</li>
                                    <li>Data population</li>
                                    <li>Static and dynamic Django templates</li>
                                    <li>Search indexes and unit tests</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>    
                <div class='timeline-badge info'>DM</div>
                <div class='timeline-panel'>
                    <div class='timeline-heading'>
                        <h3 class='timeline-title'>David Moench</h3>
                    </div>
                    <div class='timeline-body'>
                        <ul>
                            <li>RESTful API implementation </li>
                            <li>Haystack Search implementation</li>
                            <li>Unit test design for Search</li>
                            <li>Implementation of Artifacts and Books
                                <ul>
                                    <li>Model code and unit tests</li>
                                    <li>API code and unit tests</li>
                                    <li>Data population</li>
                                    <li>Static and dynamic Django templates</li>
                                    <li>Search indexes and unit tests</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class='timeline-inverted'>
                <div class='timeline-badge danger'>IB</div>
                <div class='timeline-panel'>
                    <div class='timeline-heading'>
                        <h3 class='timeline-title'>Isabella Bhardwaj</h3>
                    </div>
                    <div class='timeline-body'>
                        <ul>
                            <li>Front-end implementation of utilizing Twistory's API</li>
                            <li>Model association and Twistory's API sections in Technical Report</li>
                            <li>Refactoring academic status associations</li>
                            <li>Implementation of Potions
                                <ul>
                                    <li>Model code and unit tests</li>
                                    <li>API code and unit tests</li>
                                    <li>Data population</li>
                                    <li>Static and dynamic Django templates</li>
                                    <li>Search indexes and unit tests</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class='timeline-badge warning'>KH</div>
                <div class='timeline-panel'>
                    <div class='timeline-heading'>
                        <h3 class='timeline-title'>Kaelin Hooper</h3>
                    </div>
                    <div class='timeline-body'>
                        <ul>
                            <li>Front-end design</li>
                            <li>Implementation of Characters
                                <ul>
                                    <li>Model code and unit tests</li>
                                    <li>API code and unit tests</li>
                                    <li>Data population</li>
                                    <li>Static and dynamic Django templates</li>
                                    <li>Search indexes and unit tests</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class='timeline-inverted'>
                <div class='timeline-badge primary'>SA</div>
                <div class='timeline-panel'>
                    <div class='timeline-heading'>
                        <h3 class='timeline-title'>Stephen Arnett</h3>
                    </div>
                    <div class='timeline-body'>
                        <ul>
                            <li>Error checking use of Twistory's API</li>
                            <li>Implementation of Spells and Houses
                                <ul>
                                    <li>Model code and unit tests</li>
                                    <li>API code and unit tests</li>
                                    <li>Data population</li>
                                    <li>Static and dynamic Django templates</li>
                                    <li>Search indexes and unit tests</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
