{% extends "base.html" %}

{%block about-active%}active{%endblock about-active%}

{% block breadcrumbs_items %}
<li class='active'>About</li>
{% endblock breadcrumbs_items %}

{% block content %}

<h1>ABOUT</h1>

<div class='row'>
        <div class='col-xs-12 col-md-6 col-sm-6 info-group'>
                <ul class='list-group info-group-list'>
                        <li class='list-group-item'>
                                The Six Potters:<br/>
                                Amanda Steinwedel,
                                Angela Hsu,
                                David Moench,
                                Isabella Bhardwaj,
                                Stephen Arnett, and
                                Kaelin Hooper
                        </li>
                        <li class='list-group-item'>
                                First Leader: Amanda Steinwedel<br/>
                                Second Leader: Kaelin Hooper<br/>
                                Third Leader: Angela Hsu<br/>
                        </li>
                </ul>
        </div>

        <div class='col-xs-12 col-md-6 col-sm-6'>
                <div class='main-image pull-right'>
                        <img class='list-group-item' src='{{STATIC_URL}}/images/7-potters.jpg'>
                </div>
        </div>
</div>

<div class='row'>
        <div class='col-md-12'>
                </br>
                Marauder's Map is dedicated to improving Muggle and Wizard relations, gathering and displaying information about
                the vast universe contained within the Harry Potter series. Information
                gathered from <a href="/citations/">many sources</a> about characters, creatures, stories, artifacts, spells,
                potions, locations, houses and books is organized and displayed here.
        </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <h3 class='uppercase'>Member Roles and Responsibilities:</h3>
        Everyone has worked on general website layout design and debugging, but this list goes over more specific roles:
    </div>
</div>

<div class='row'>
    <div class='col-md-6'>
        <h4>Amanda</h4>
        <ul>
            <li>Data model design</li>
            <li>Implementation of Stories and Locations
                <ul>
                    <li>Model code and unit tests</li>
                    <li>API code and unit tests</li>
                    <li>Data population</li>
                    <li>Static and dynamic Django templates</li>
                    <li>Search indexes and unit tests</li>
                </ul>
            </li>
            <li>Mischief message</li>
            <li>Splash page icons</li>
            <li>View redirection for Location subclasses</li>
            <li>Wrote about model associations and views in the technical report</li>
        </ul>
        
        <h4>Angela</h4>
        <ul>
            <li>Unit test design for models and API</li>
            <li>Back-end implementation of utilizing Twistory's API</li>
            <li>Front-end mobile responsiveness</li>
            <li>Implementation of Creatures
                <ul>
                    <li>Model code and unit tests</li>
                    <li>API code and unit tests</li>
                    <li>Data population</li>
                    <li>Static and dynamic Django templates</li>
                    <li>Search indexes and unit tests</li>
                </ul>
            </li>
        </ul>

        <h4>David</h4>
        <ul>
            <li>RESTful API implementation </li>
            <li>Haystack Search implementation</li>
            <li>Unit test design for Search</li>
            <li>Implementation of Artifacts and Books
                <ul>
                    <li>Model code and unit tests</li>
                    <li>API code and unit tests</li>
                    <li>Data population</li>
                    <li>Static and dynamic Django templates</li>
                    <li>Search indexes and unit tests</li>
                </ul>
            </li>

        </ul>
    </div>

    <div class='col-md-6'>
        <h4>Isabella</h4>
        <ul>
            <li>Front-end implementation of utilizing Twistory's API</li>
            <li>Refactoring academic status associations</li>
            <li>Implementation of Potions
                <ul>
                    <li>Model code and unit tests</li>
                    <li>API code and unit tests</li>
                    <li>Data population</li>
                    <li>Static and dynamic Django templates</li>
                    <li>Search indexes and unit tests</li>
                </ul>
            </li>

        </ul>
        <h4>Kaelin</h4>
        <ul>
            <li>Front-end design</li>
            <li>Implementation of Characters
                <ul>
                    <li>Model code and unit tests</li>
                    <li>API code and unit tests</li>
                    <li>Data population</li>
                    <li>Static and dynamic Django templates</li>
                    <li>Search indexes and unit tests</li>
                </ul>
            </li>
        </ul>
        <h4>Stephen</h4>
        <ul>
            <li>Implementation of Spells and Houses
                <ul>
                    <li>Model code and unit tests</li>
                    <li>API code and unit tests</li>
                    <li>Data population</li>
                    <li>Static and dynamic Django templates</li>
                    <li>Search indexes and unit tests</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <h3 class='uppercase'>Tools Utilized:</h3>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>MySQL</li>
            <li>Twitter Bootstrap</li>
            <li>PythonAnywhere</li>
            <li>Apiary</li>
            <li>Haystack</li>
            <li>Whoosh</li>
            <li>virtualenv</li>
            <li>pip</li>
            <li>mysql-connector-python</li>
            <li>django-haystack</li>
            <li>django-tables2</li>
            <li>urllib3</li>
        </ul>
    </div>
</div>

{% endblock content %}
