<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Marauder's Map{% endblock title %}</title>

		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/jumbotron.css" rel="stylesheet">

    {% block scripts %}{% endblock scripts %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">wh</span>
            <span class="icon-bar">at</span>
            <span class="icon-bar">is</span>
          </button>
        </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Characters<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Albus Dumbledore</a></li>
            <li><a href="#">Ariana Dumbledore</a></li>
            <li><a href="#">Harry Potter</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stories<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Deathly Hallows</a></li>
            <li><a href="#">The Boy Who Lived</a></li>
            <li><a href="#">International Statute of Wizarding Secrecy</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artifacts<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Pensieve</a></li>
            <li><a href="#">Elder Wand</a></li>
            <li><a href="#">Invisibility Cloak</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spells<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Patronus Charm</a></li>
            <li><a href="#">Boggart Vanishing Charm</a></li>
            <li><a href="#">Disarming Charm</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Potions<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Amortentia</a></li>
            <li><a href="#">Veritaserum</a></li>
            <li><a href="#">Regeneration Potion</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Creatures<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Werewolf</a></li>
            <li><a href="#">Thestral</a></li>
            <li><a href="#">Dementor</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>The Six Potters</p>
      </footer>
    </div> <!-- /container -->



