<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Marauder's Map{% endblock title %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    {% block scripts %}{% endblock scripts %}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand serif" href="#">Marauder's Map</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class='serif' href="/">Home</a></li>
            <li class='{%block about-active %}{% endblock about-active %}'><a class='serif' href="/about">About</a></li>
            <li class="dropdown {% block data-active %}{% endblock data-active %}">
              <a class='serif' href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'characters' %}">Characters</a></li>
                <li><a href="{% url 'stories' %}" >Stories</a></li>
                <li><a href="{% url 'artifacts' %}">Artifacts</a></li>
                <li><a href="{% url 'creatures' %}">Creatures</a></li>
                <li><a href="{% url 'spells' %}">Spells</a></li>
                <li><a href="{% url 'potions' %}">Potions</a></li>
                <li><a href="{% url 'locations' %}">Locations</a></li>
                <li><a href="{% url 'houses' %}">Houses</a></li>
                <li><a href="{% url 'books' %}">Books</a></li>
              </ul>
            </li>
            <li class='{% block experience-active%}{% endblock experience-active %} serif'><a href="/experience">A Word From Our Sponsor</a></li>
            <li class='{% block citations-active %}{% endblock citations-active %} serif'><a href="/citations">Citations</a></li>
          </ul>
          <form class='navbar-form navbar-right' role='search'>
            <div class='form-group has-feedback'>
              <input type='text' id='id_q' name='q' class='form-control' placeholder='Search'>
              <a href="#" id='search-submit'><span class="glyphicon glyphicon-search form-control-feedback" style='top: 0px;'></span></a>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <a style="display:block" href="/">
      <div class="jumbotron">
        <h1 class="text-center serif dark-shadow-thick">Marauder's Map</h1>
        <p class="text-center serif dark-shadow-thin">Brought to you by The Six Potters</p>
      </div>
    </a>

    <div class='container-fluid container-content wrapper'>
      <div class='row row-content'>
        <div class="col-md-12 top-index">
          <div id='content'>
              <div class='row'>
                <div class='col-md-12'>
                  <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    {% block breadcrumbs_items %}
                    {% endblock breadcrumbs_items %}
                  </ol>
                </div>
              </div>
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div> <!-- /row -->
      <div class='push'></div>
    </div> <!-- /container-fluid -->

    <div class='footer serif dark-shadow-thin'>The Six Potters are Amanda Steinwedel, Angela Hsu, David Moench, Isabella Bhardwaj, Kaelin D. Hooper, and Stephen Arnett</div>
  </body>
</html>
