<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Marauder's Map{% endblock title %}</title>
		<meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		{% block scripts %}{% endblock scripts %}
	</head>
  <body>
  <a href="/">
    <div class="jumbotron customjumbo">
			<h1 class="text-center">Marauder's Map</h1>
			<p class="text-center">Brought to you by The Six Potters</p>
		</div>
  </a>

  <div class='container-fluid'>
    <!-- navbar -->

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="sidebar-nav">
              <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Menu Item 1</a></li>
                    <li><a href="#">Menu Item 2</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Menu Item 4</a></li>
                    <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div>

    <div class='col-xs-12 col-sm-9' id='content'>
      {% block content %}{% endblock content %}
    </div>
  
    <!--For symmetry -->
 <!--   <div class='col-xs-12 col-sm-12 col-md-12'></div>  -->
    </div> <!-- /row -->
    </div> <!-- /container-fluid -->
	</body>
</html>
