{% extends "base.html" %}

{% block citations-active %}
active
{% endblock citations-active %}

{% block content %}
<h1>CITATIONS</h1>
<a href='http://www.jkrowling.com/'>JK Rowling</a><br/>
<a href='http://harrypotter.wikia.com/'>Harry Potter Wiki</a><br/>
<a href='http://hp-lexicon.org'>The Harry Potter Lexicon</a><br/>
<a href='http://giphy.com'>Giphy</a><br/>
<a href='http://tumblr.com'>Tumblr</a><br/>
<a href='http://www.fanpop.com/clubs/draco-malfoy'>Fanpop</a><br/>
<a href='http://s968.photobucket.com/user/Pete-SSS/media/FinalHogwartsCrestMono.jpg.html?t=1290165208'>Pete-SSS</a><br/>
<a href='https://www.etsy.com/market/castle/2'>Etsy</a><br/>
<a href='http://www.homemade-preschool.com/image-files/cpa-school-book-blue.png'>Homemade Preschool</a><br/>
<a href='http://www.fotosearch.com/illustration/griffin.html'>FotoSearch</a>
{% endblock content %}
