<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Marauder's Map{% endblock title %}</title>
		<meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}css/splash.css">

</head>
<body style='padding:0px !important;'>
    <div id="wrap">
        <a style="display:block" href="/">
		    <div class="jumbotron splash">
		        <h1 class="text-center">Marauder's Map</h1>
			    <p class="text-center">Brought to you by The Six Potters</p>
		    </div>
        </a>
        
        <div class="container-fluid" id='splash-nav'>
            <div class='row'>
                <div class='col-md-12'>
                    <h2 class="panel-title">
                        <a href="{% url 'characters' %}">Characters</a>
                    </h2>
                </div> 
            </div>

            <div class='row'>
                <div class='col-md-2'></div>
                <div class='col-md-4'>
                    <h2 class="panel-title">
                        <a href="{% url 'artifacts' %}">Artifacts</a>
                    </h2>
                </div>

                <div class='col-md-4'>
                    <h2 class="panel-title">
                        <a href="{% url 'stories' %}">Stories</a>
                    </h2>
                </div>
                <div class='col-md-2'></div>
            </div>

            <div class='row'>
                <div class='col-md-4'>
                    <h2 class="panel-title">
                        <a href="{% url 'spells' %}">Spells</a>
                    </h2>
                </div>

                <div class='col-md-4'>
                    <h2 class="panel-title">
                        <a href="{% url 'creatures' %}">Creatures</a>
                    </h2>
                </div>  <!-- /col-md-4 -->

                <div class='col-md-4'>
                    <h2 class="panel-title">
                        <a href="{% url 'potions' %}">Potions</a>
                    </h2>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-2'></div>
                <div class='col-md-4'>
                    <h2 class="panel-title">
                        <a href="{% url 'houses' %}">Houses</a>
                    </h2>
                </div>

                <div class='col-md-4'>
                    <h2 class="panel-title">
                        <a href="{% url 'books' %}">Books</a>
                    </h2>
                </div>
                <div class='col-md-2'></div>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <h2 class="panel-title">
                        <a href="{% url 'locations' %}">Locations</a>
                    </h2>
                </div> 
            </div>
        </div> <!-- /container-fluid -->
    </div> <!-- /wrap -->


    <div class='row' id="myfooter">
        <div id="footertxt" class='col-md-12'>
            <p>The Six Potters are Amanda Steinwedel, Angela Hsu, David Moench, Isabella Bhardwaj, Kaelin D. Hooper, and Stephen Arnett</p>
        </div>  <!--/footertxt-->
    </div>  <!--/footer-->
</div>  <!--/wrap-->
</body>

<!-- javascript at end to load page faster -->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL}}js/splash.js"></script>
<!--		<script src="http://code.jquery.com/jquery.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  -->

</html>

