<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Marauder's Map{% endblock title %}</title>
		<meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}css/splash.css">

</head>
<body>
<div id="wrap">
  <a style="display:block" href="/">
		<div class="jumbotron splash">
			<h1 class="text-center">Marauder's Map</h1>
			<p class="text-center">Brought to you by The Six Potters</p>
		</div>
  </a>
    <div id="content">

        <div class='row'>
        <div class="panel-group category" id="accordion">
            <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                      <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Characters</a>
                      </h2>
                    </div>  <!-- /panel-heading -->

                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">                  
                            <h3><a href="characters/1">Albus Dumbledore</a></h3> 
                            <h3><a href="characters/2">Ariana Dumbledore</a></h3>
                            <h3><a href="characters/3">Harry Potter</a></h3>
                        </div>  <!-- /panel-body -->
                    </div> <!-- /collapseOne -->
                </div>  <!-- /panel panel-default -->
            </div>  <!-- /col-md-4 -->

            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                      <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Artifacts</a>
                      </h2>
                    </div>  <!-- /panel-heading -->

                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">                  
                            <h3><a href="artifacts/1">Pensieve</a></h3> 
                            <h3><a href="artifacts/2">Elder Wand</a></h3>
                            <h3><a href="artifacts/3">Invisibility Cloak</a></h3>
                        </div>  <!-- /panel-body -->
                    </div> <!-- /collapseOne -->
                </div>  <!-- /panel panel-default -->
            </div>  <!-- /col-md-4 -->
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                      <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Stories</a>
                      </h2>
                    </div>  <!-- /panel-heading -->

                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">                  
                            <h3><a href="stories/1">Deathly Hallows</a></h3> 
                            <h3><a href="stories/2">The Boy Who Lived</a></h3>
                            <h3><a href="stories/3">Statute of Secrecy</a></h3>
                        </div>  <!-- /panel-body -->
                    </div> <!-- /collapseOne -->
                </div>  <!-- /panel panel-default -->
            </div>  <!-- /col-md-4 -->
        </div>
        <div class='row'>
            <center>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                      <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Spells</a>
                      </h2>
                    </div>  <!-- /panel-heading -->

                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">                  
                            <h3><a href="spells/1">Patronus Charm</a></h3> 
                            <h3><a href="spells/2">Ridikkulus</a></h3>
                            <h3><a href="spells/3">Expelliarmus</a></h3>
                        </div>  <!-- /panel-body -->
                    </div> <!-- /collapseOne -->
                </div>  <!-- /panel panel-default -->
            </div>  <!-- /col-md-4 -->
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                      <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Potions</a>
                      </h2>
                    </div>  <!-- /panel-heading -->

                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">                  
                            <h3><a href="potions/1">Amortentia</a></h3> 
                            <h3><a href="potions/2">Veritaserum</a></h3>
                            <h3><a href="potions/3">Regeneration Potion</a></h3>
                        </div>  <!-- /panel-body -->
                    </div> <!-- /collapseOne -->
                </div>  <!-- /panel panel-default -->
                </center>
            </div>  <!-- /col-md-6 -->
        </div>
        <div class='row'>
            <center>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                      <h2 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Creatures</a>
                      </h2>
                    </div>  <!-- /panel-heading -->

                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">                  
                            <h3><a href="creatures/1">Werewolf</a></h3> 
                        </div>  <!-- /panel-body -->
                    </div> <!-- /collapseOne -->
                </div>  <!-- /panel panel-default -->
            </div>  <!-- /col-md-4 -->
            <div class="col-md-4"></div>
            </center>
        </div>



      </div>  <!-- /accordion -->
    </div>
<!--
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center categories">
                    <ul class="no-style" id="menu">
                        <li><a href="characters/">Characters</a></li>
                        <li><a href="artifacts/">Artifacts</a></li>
                        <li><a href="potions/">Potions</a></li>
                        <li><a href="spells/">Spells</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

-->
    </div>  <!--/content-->

    <div class='row' id="myfooter">
        <div id="footertxt" class='col-md-12'>
        <p>The Six Potters are Amanda Steinwedel, Angela Hsu, David Moench, Isabella Bhardwaj, Kaelin D. Hooper, and Stephen Arnett</p>
        </div>  <!--/footertxt-->
    </div>  <!--/footer-->
</div>  <!--/wrap-->
	</body>

<!-- javascript at end to load page faster -->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL}}js/splash.js"></script>
<!--		<script src="http://code.jquery.com/jquery.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  -->

</html>

