{% extends "base.html" %}
{% block content %}
<h1>{{ other.death_valley.name }}</h1>
<img src={{ other.death_valley.image }} alt="death valley" height=50% width=50% />
<p>Park: {{ other.death_valley.park }}</p>
<p>Estimated time: {{ other.death_valley.time }}</p>
<p>Distance: {{ other.death_valley.distance }}</p>
<p>Difficulty: {{ other.death_valley.difficulty }}</p>

<!-- This takes too long to load, unless we make a 'Brewing your Muggle experience...' page..
<h1>Muggle Hikes to Try</h1>
<h2>If you like the Forbidden Forest...</h2>
<ul>
{% for i in other.strenuous %}
<li>{{ i }}</li>
{% endfor %}
</ul>


<h2>If Hogsmeade is more your style...</h2>
{% for i in other.moderate %}
<li>{{ i }}</li>
{% endfor %}
</ul>


<h2>If your idea of a hike is strolling down Diagon Alley...</h2>
{% for i in other.easy %}
<li>{{ i }}</li>
{% endfor %}
</ul>
-->

{% endblock %}
