.info-group-list { display: table; }

.main-image img { 
	width: 250px;
	margin-bottom: 20px !important;
}

#content { margin: 0px auto 20px; }

.uppercase { text-transform: uppercase;}

.description { margin-top: 20px;}