{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block breadcrumbs_items %}
<li><a href="{% url 'books' %}">Books</a></li>
<li class='active'>{{ book.name }}</li>

{% block content %}
<div id="name">
    <h1 class="uppercase">{{ book.name }}</h1>
</div>

<div class='row'>
   	<div class='col-md-5 col-sm-5 info-group'>
   		<ul class='timeline-single'>
            <li class='timeline-inverted'>
                <div class='timeline-badge info'><i class='glyphicon glyphicon-info-sign'></i></div>
                <div class='timeline-panel'>
        	        <div class='timeline-body'>
   						<ul class='list-group info-group-list'>
							{% if book.author %}
								<li class='list-group-item'>
									By
									{% if not book.author.hidden %}
										<a href='{% url "character" book.author.id %}'>
									{% endif %}
									{{ book.author.name }}
									{% if not book.author.hidden %}
										</a>
									{% endif %}
								</li>
							{% endif %}
							{% if book.publisher or book.published_date %}
								<li class='list-group-item'>
									Published
									{% if book.publisher %}{{ book.publisher }}{% endif %}
									{% if book.published_date %} in {{ book.published_date.year }}{% endif %}
								</li>
							{% endif %}
							{% if story.book %}
								<li class='list-group-item'>
									As told in <a href="{% url 'book' story.book.id %}">{{ story.book.name }}</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6'></div>
</div>

<div class='row'>
	<div class='col-xs-12 col-md-6 col-sm-6'>
		<div class='main-image'>
			<img class='list-group-item' src='{{ book.image.url }}'>
		</div>
	</div>
	<div class='col-md-5 col-sm-5'></div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{{ book.description|safe }}
	</div>
</div>

{% if book.subjects.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
	  		<ul class='timeline-single'>
            	<li class='timeline-inverted'>
                	<div class='timeline-badge danger'><i class='glyphicon glyphicon-user'></i></div>
                	<div class='timeline-panel' style='padding: 20px;'>
                		<div class='timeline-heading'>
                			<h3 class='timeline-title uppercase'>Subjects</h3>
                		</div>
        	        	<div class='timeline-body'>
							{% for character in book.subjects.all %}
								{% if not character.hidden %}
									<a href="{% url 'character' character.id %}">
								{% endif %}
								{{ character.name }}
								{% if not character.hidden %}
									</a>
								{% endif %}
								<br/>
							{% endfor %}
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endif %}
{% endblock content %}
