{% extends "base.html" %}
{% block scripts %}
<link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
{% endblock scripts %}

{% block content %}
        <div id="name">
   		    <h1 class="uppercase">{% block name %}{% endblock name %}</h1>
        </div>
   	    
<div class='row'>
        <div class='col-xs-12 col-s-5 col-md-5'>
            <div class="list-group info-group-list">
                    <li class='list-group-item'>
                        <div class='row'>
                            <div class='infoitem col-md-5'>
                                Classification
                            </div>
                            <div class='infoitem col-md-7'>
                            {% block classification %}{% endblock classification %}
                            </div>
                        </div>
                    </li>

                    <li class='list-group-item'>
                        <div class='row'>
                            <div class='infoitem col-md-5'>
                                Rating
                            </div>
                            <div class='rating infoitem col-md-7'>
                                {% block rating %}{% endblock rating %}
                            </div>
                        </div>
                   </li>
            </div>  <!--info-group-list-->
        </div> <!--col-xs-12-->

        <div class='col-xs-12 col-s-7 col-md-7 main-image'>
            <img class='list-group-item' src='{% block image_url %}{% endblock image_url %}'>
        </div>

</div>  <!-- row -->

<div class='row'>
	<div class='col-xs-12' id='description'>
		{% block description %}{% endblock description %}
	</div>
</div>

<div class='row'>
	<div class='col-xs-12'>
		<h3>{% block option %}{% endblock option %}</h3>
		{% block detail %}
		{% endblock detail %}
	</div>
</div>

{% endblock content %}
