{% extends "characters/base.html" %}

{% block name %}
Ariana Dumbledore
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/ariana-dumbledore.jpg
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Witch</li>
{% endblock info_group %}

{% block quote %}
It destroyed her, what they did: She was never right again. She wouldn't use magic, but she couldn't get rid of it; it turned inward and drove her mad, it exploded out of her when she couldn't control it, and at times she was strange and dangerous. But mostly she was sweet and scared and harmless.
{% endblock quote %}

{% block quote_footer %}
Aberforth Dumbledore
{% endblock quote_footer %}

{% block description %}
<p>Ariana Dumbledore was the youngest sister to <a href='/characters/1'>Albus Dumbledore</a> and Aberforth Dumbledore. When she was 6-years-old, muggle boys attacked Ariana because they wanted to see her perform magic. Traumatized, from then on she could not control her magical abilities. Her father seeked revenge on the muggle boys and was sent to Azkaban<!-- <a href='/locations/1'>Azkaban</a> -->, while the rest of the family moved to Godric's Hollow and hid Ariana away. They did this so she would not be sent to St. Mungo's<!-- <a href='/locations/2'>St. Mungo's</a> -->, as her instability threatened the Statute of Secrecy<!-- <a href='/stories/4'>Statute of Secrecy.</a> --></p>

<p>When she was 14-years-old, she caused a magical explosion whilst arguing with her mother and killed her. Eventually, she was accidentally killed by getting in the way of a duel between Aberforth, Albus, and Albus' friend Gellert Grindelwald.</p>
{% endblock description %}

{% block stories %}
<!-- <a href='/stories/2'>Dumbledore's Scandal</a><br/> -->
<!-- <a href='/stories/4'>Statute of Secrecy</a><br/> -->
Dumbledore's Scandal<br>
Statute of Secrecy
{% endblock stories %}

{% block bibliography %}
None
{% endblock bibliography %}

{% block artifacts %}
None
{% endblock artifacts %}

{% block relationships %}
<a href='/characters/1'>Albus Dumbledore (brother)</a>
{% endblock relationships %}