{% extends "characters/base.html" %}

{% block name %}
Harry Potter
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/harry-potter.gif
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Wizard</li>
<li class='list-group-item'>Former Student at <a href='/schools/1'>Hogwarts</a></li>
<li class='list-group-item'><a href='/houses/1'>Gryffindor House</a></li>
<li class='list-group-item'>11 inch holly wood with phoenix feather wand</li>
{% endblock info_group %}

{% block quote %}
Every great wizard in history has started out as nothing more than what we are now, students. If they can do it, why not us?
{% endblock quote %}

{% block quote_footer %}
Harry Potter
{% endblock quote_footer %}

{% block description %}
<p>Harry Potter is <a href='/stories/3'>The Boy Who Lived</a>, one of the most famous wizards of his time. In July 1980, Voldemort tried to murder Harry Potter while he was still a baby, afraid of a prophecy that said Potter would be the one to defeat him. His mother Lily Potter sacrificed herself for Harry, which gave Harry an ancient form of protection magic based on love. This protection caused Voldemort's killing curse to backfire onto himself, but left Harry with a lightning-shaped cursed scar on his forehead. This created a connection between Harry and Voldemort, allowing Harry to speak Parseltongue.</p>

<p>Harry was raised by his aunt Petunia and uncle Vernon Dursley, who resented everything abnormal, including Harry. It wasn't until his 11th birthday that Potter discovered he was a wizard, and began attending Hogwarts School of Witchcraft and Wizardry with the inheritance his parents left behind. Here he met his dearest friends Ron Weasley and Hermione Granger. Harry became one of the youngest seekers for the Gryffindor Quidditch team during his first year. He also became one of the youngest Triwizard Tournament contestants during his fourth year.</p>

<p>Along with other friends, Ron, Hermione, and Harry went on many adventures thrwarting evil throughout their school career. They stopped Professor Quirrell from bringing back Voldemort with the Philosopher's Stone. They stopped Tom Riddle's revival of the Chamber of Secrets. And finally in their last year at Hogwarts, they defeated Voldemort once and for all.</p>
{% endblock description %}

{% block stories %}
<a href='/stories/3'>The Boy Who Lived</a><br/>
<a href='/stories/1'>Deathly Hallows</a><br/>
{% endblock stories %}

{% block bibliography %}
None
{% endblock bibliography %}

{% block artifacts %}
<a href='/artifacts/1'>Elder Wand</a><br/>
<a href='/artifacts/2'>Invisibility Cloak</a>
{% endblock artifacts %}

{% block relationships %}
<a href='#'>Ginny Weasley (wife)</a><br/>
<a href='#'>James Potter (father)</a><br/>
<a href='#'>Lily Evans (mother)</a><br/>
<a href='#'>Ignotus Peverell (paternal ancestor)</a><br/>
<a href='#'>Albus Severus Potter (son)</a><br/>
<a href='#'>Lily Potter (daughter)</a><br/>
<a href='#'>James Potter II (son)</a><br/>
<a href='#'>Petunia Dursley (aunt)</a><br/>
<a href='#'>Vernon Dursley (uncle)</a><br/>
<a href='#'>Dudley Dursley (cousin)</a><br/>
{% endblock relationships %}