{% extends "characters/base.html" %}

{% block name %}
Argus Filch
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/argus-filch.gif
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Squib</li>
<li class='list-group-item'>Caretaker of <a href='/schools/1'>Hogwarts</a></li>
{% endblock info_group %}

{% block quote %}
A pity they let the old punishments die. Was a time detention would find you hanging by your thumbs in the dungeons. God, I miss the screaming.
{% endblock quote %}

{% block quote_footer %}
Argus Filch
{% endblock quote_footer %}

{% block description %}
<p>Argus Filch was a Squib and the caretaker of <a href='/schools/1/'>Hogwarts</a> School of Witchcraft and Wizardry since around 1973. Filch usually wandered around the school corridors with his cat Mrs Norris, trying to catch students breaking the school rules and complaining about Peeves the Poltergeist. In 1992, after Mrs Norris was petrified by Salazar Slytherin's Basilisk, Filch was furious; however, his cat was healed by the end of the year.</p>

<p>In 1995, when Dolores Umbridge became High Inquisitor at Hogwarts, Filch gladly supported her. The next year, he was responsible for recognising Dark objects that were brought into Hogwarts. He helped the students leave the school during the Battle of Hogwarts in 1998. He kept his job of caretaker after the Second Wizarding War. Filch is the only one of the Hogwarts staff to stay at Hogwarts Castle during the summer holidays.</p>
{% endblock description %}

{% block stories %}
<a href='#'>The Battle of Hogwarts</a><br/>
<a href='#'>Second Wizarding War</a><br/>
{% endblock stories %}

{% block bibliography %}
None
{% endblock bibliography %}

{% block artifacts %}
None
{% endblock artifacts %}

{% block relationships %}
<a href='#'>Mrs. Norris (pet)</a><br/>
<a href='#'>Peeves (enemy)</a><br/>
{% endblock relationships %}