{% extends "characters/base.html" %}

{% block name %}
Rita Skeeter
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/rita-skeeter.gif
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Witch</li>
<li class='list-group-item'>Author of several biographies and former jounralist at Daily Prophet</li>
{% endblock info_group %}

{% block quote %}
Young love! How... stirring. If everything goes unfortunately today, you two may even make the front page! 
{% endblock quote %}

{% block quote_footer %}
Rita Skeeter after Hermione hugs Harry Potter
{% endblock quote_footer %}

{% block description %}
<p>Ms Rita Skeeter[3] (b. 1951[1]) was a witch journalist who specialised in writing poison-pen stories which tended to be based on false information and misreported interviews while she worked for the Daily Prophet, as well authoring a few tell-all biographies. Albus Dumbledore described her writing as "enchantingly nasty" after she wrote an unfavourable article about him.</p>

<p>Notable stories Rita covered include the trials of various Death Eaters after the First Wizarding War, the Triwizard Tournament, and, albeit reluctantly, Harry Potter's account of Lord Voldemort's return to power in 1995 for The Quibbler. She also wrote biographies of Armando Dippet, Albus Dumbledore, Severus Snape, and Harry Potter. Rita's writing tended to be sensationalist, and sometimes outright dishonest. Her ability to acquire information was assisted by her status as an unregistered beetle Animagus.</p>
{% endblock description %}

{% block stories %}
<a href='#'>Triwizard Tournament</a><br/>
{% endblock stories %}

{% block bibliography %}
None
{% endblock bibliography %}

{% block artifacts %}
<a href='#'>Armando Dippet: Master or Moron?</a><br/>
<a href='#'>The Life and Lies of Albus Dumbledore</a>
<a href='#'>Dumbledore's Army: The Dark Side of the Demob</a>
{% endblock artifacts %}

{% block relationships %}
None
{% endblock relationships %}