{% extends "characters/base.html" %}

{% block character_active %}
in
{% endblock character_active %}

{% block name %}
Gellert Grindelwald
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/gellert-grindelwald.gif
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Dark Wizard</li>
<li class='list-group-item'>Former Student at Durmstrang Institute<!-- <a href='/schools/1'>Durmstrang Institute</a> --></li>
<li class='list-group-item'>15" elder wood with thestral tail hair core wand</li>
{% endblock info_group %}

{% block quote %}
For the Greater Good.
{% endblock quote %}

{% block quote_footer %}
Gellert Grindelwald's slogan
{% endblock quote_footer %}

{% block description %}
<p>Gellert Grindelwald (c. 1882-1998) was considered one of the most powerful Dark Wizards of all time, second only to Tom Marvolo Riddle, who later became known as Lord Voldemort<!-- <a href='/characters/9'>Lord Voldemort</a> -->. He was schooled at Durmstrang Institute until his expulsion. Later he fostered a friendship with Albus Dumbledore while living in Godric's Hollow for a summer with his great-aunt, Bathilda Bagshot. The two made plans to find the Deathly Hallows and wield their new-found power as Masters of Death, leading a Wizarding revolution with the aim of ending the International Statute of Secrecy and creating a benevolent global order led by wise and powerful witches and wizards. Their partnership fell apart after the two were involved in a three-way duel with Aberforth Dumbledore that resulted in Ariana Dumbledore's death.
</p>

<p>Grindelwald left Britain and soon stole the <a href='/artifacts/1'>Elder Wand</a><br/>, proceeding alone with the revolution he and Dumbledore had planned. He established a power base in continental Europe at the fortress Nurmengard. Grindelwald was a complex figure, highly idealistic but marred by sociopathic tendencies and his links with the Dark Arts, a revolutionary operating outside the law. He was not a wanton killer or torturer, but he and his followers (in a single-minded and unpopular quest; one's allies must often be unsavory characters) committed numerous crimes, including several known murders. In 1945, at the height of his power, Dumbledore confronted and defeated him in a legendary duel. Grindelwald was subsequently imprisoned in his own fortress for decades, and was slain there by Voldemort in 1998 when he refused to give up information on the <a href='/artifacts/1'>Elder Wand</a><br/>.</p>
{% endblock description %}

{% block stories %}
<!-- <a href='/stories/1'>Deathly Hallows</a><br/> -->
Deathly Hallows
{% endblock stories %}

{% block bibliography %}
Life and Lies of Albus Dumbledore (subject)
{% endblock bibliography %}

{% block artifacts %}
<a href='/artifacts/2'>Elder Wand</a><br/>
{% endblock artifacts %}

{% block relationships %}
<a href='/characters/1'>Albus Dumbledore (friend)</a><br/>
<!-- <a href='#'>Bathilda Bagshot (great aunt</a><br/> -->
Bathilda Bagshot
{% endblock relationships %}