{% extends "base.html" %}

{% block content %}
        <div id="name">
   		    <h1 class="uppercase">{% block name %}{% endblock name %}</h1>
        </div>
<div class='row'>
   	<div class='col-xs-12 col-md-6 col-sm-6 info-group'>
   		<ul class='list-group info-group-list'>
			{% block info_group %}{% endblock info_group %}
		</ul>
		<blockquote>
			<p>{% block quote %}{% endblock quote %}</p>
			<footer>{% block quote_footer %}{% endblock quote_footer %}</footer>
		</blockquote>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6 main-image'>
		<img class='list-group-item' src='{% block image_url %}{% endblock image_url %}'>
	</div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{% block description %}{% endblock description %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>STORIES</h3>
		{% block stories %}
		{% endblock stories %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>BIBLIOGRAPHY</h3>
		{% block bibliography %}
		{% endblock bibliography %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>ARTIFACTS</h3>
		{% block artifacts %}
		{% endblock artifacts %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<h3>FAMILY RELATIONSHIPS</h3>
		{% block relationships %}
		{% endblock relationships %}
	</div>
</div>
{% endblock content %}
