@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

.main-image img, .shadow-box {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 10px;
}

.shadow-box {
  display: table;
}

.two-column-list {
   columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.list-group-item {
  border-right: 0px !important;
  border-left: 0px !important;
  border: 0px !important;
  padding-top: 0px;
}

.list-group-item:first-child {
  padding-top: 10px;
}

.list-group-item:after {
  content: " ";
  border-bottom:1px solid #e7e7e7;
  margin-top: 10px;
  display: block;
}

.list-group-item:last-child:after {
  display: none;
}

.list-group-item hr {
  margin-bottom: 0px;
  border-color: #e7e7e7;
}

.timeline, .timeline-single {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li, .timeline-single > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before, .timeline > li:after,
.timeline-single > li:before,  .timeline-single > li:after {
  content: " ";
  display: table;
}

.timeline > li:after,  .timeline-single > li:after {
  clear: both;
}

.timeline > li:before, .timeline > li:after,
 .timeline-single > li:before,  .timeline-single  > li:after {
  content: " ";
  display: table;
}

.timeline > li:after, .timeline-single > li:after {
  clear: both;
}

.timeline > li > .timeline-panel,  .timeline-single > li > .timeline-panel {
  width: 45%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-single > li > .timeline-panel {
  width: auto;
  padding: 0px;
  margin-left: 50px;
}

.timeline > li > .timeline-panel:before,
.timeline-single > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after,
 .timeline-single > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge,
.timeline-single > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline-single > li > .timeline-badge {
  left: 0%;
  margin-left: -25px;
}


.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  width: 44%;
}

.timeline > li.timeline-inverted > .timeline-panel:before,
.timeline-single > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after,
.timeline-single > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p, .timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.pagination .current, .pagination .cardinality {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;;
}

.info-group-list { display: table; }

#house-list {
  text-align: center;
}

a:hover {
    text-decoration: none;
}

.uppercase { text-transform: uppercase;}

#content {
    margin: auto;
    width: 90%;
    max-width: 900px;
}

#main-title {
  text-align: center;
  padding-bottom: 20px;
}

.main-image img {
    vertical-align: bottom;
    width: 100%;
}

body {
    padding: 51px 0px !important;
}

.info-group-list {
    max-width: 300px;
}

.rating.infoitem {
    font-family: Neucha;
    color: red;
    font-size: 3.5em;

}

#description {
    padding-top: 2%;
    padding-right: 5%;
}

.block-text {
    padding-top: 2%;
    padding-right: 5%;

}

.navbar-nav li.active {
  background-color: rgb(200,200,200);
}

.navbar-nav li a {
  color: black;
}

.navbar-brand {
  color: black;
}

#splash-nav {
  text-align: center;
  max-width: 900px;
}

#splash-nav img {
  width: 150px;
  margin: 10px;
}

.navbar {
  background-color: white;
}


/* anything larger than mobile phone */
@media (min-width: 768px) {


.jumbotron {
    background: url('../images/maraudersbase.jpg');
    background-size: cover;
    background-position: bottom;
    padding-top: 48px;
    padding-bottom: 48px;
}

.jumbotron h1 {
  font-size: 7em;
  font-family: 'Open Sans';
  color: white;
}

.jumbotron p {
  font-family: 'Open Sans';
  font-size: 2em;
  color: white;
}

}

/* mobile phones */
@media (max-width: 768px) {
    #description, blockquote, .block-text {
        max-width: 320px;
    }

    .jumbotron {
        display: none;
    }

    .top-index {
        padding-top: 15px;
    }

}

/* desktops */
@media (min-width: 980px) {
body {
    padding-top: 0px;
}

}


/* search styling */
#id_models {
    list-style-type: none;
    padding-left: 3px;
}

#id_models > li {
    display: inline-block;
    *display: inline; /* for IE7 */
    padding: 5px;
}

.highlighted {
    font-weight: bold;
}

th, td {
    padding: 5px;
}

@media (max-width: 768px): {

  ul.timeline:before, ul.timeline-single:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel, 
  ul.timeline-single > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge,
  ul.timeline-single > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel,
  ul.timeline-single > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before,
  ul.timeline-single > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after,
  ul.timeline-single > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}