.info-group-list { display: table; }

.main-image img { 
	width: 250px;
	margin-bottom: 20px !important;
}

.big-image img {
    width: 400px;
    margin-bottom: 20px !important;

}


.jumbotron {
font-family: 'Special Elite';
}

#content { 
	margin: 0px auto 20px; 
	padding-left: 60px;
}

.uppercase { text-transform: uppercase;}

.description { margin-top: 20px;}


.category{
font-family: 'Special Elite';

}
.nav-stacked {
max-width: 300px;
}
