@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

.pagination .current, .pagination .cardinality {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;;
}
a:hover {
    text-decoration: none;
}

.uppercase { text-transform: uppercase;}

#splash-nav h2 {
  padding: 20px;
  text-align:center;
}

#content {
    margin: auto;
    width: 90%;
    max-width: 900px;
}

img {
    vertical-align: bottom;
    max-width: 300px;
}

body {
    padding: 100px 0px !important;
}

.info-group-list {
    max-width: 300px;
}

.rating {
    font-family: Neucha;
    color: red;
    font-size: 3.5em;
   
}

#description {
    padding-top: 2%;
    padding-right: 5%;
}

.block-text {
    padding-top: 2%;
    padding-right: 5%;

}


/* anything larger than mobile phone */
@media (min-width: 768px) {

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

}

/* mobile phones */
@media (max-width: 768px) {
    #description, blockquote, .block-text {
        max-width: 320px;
    }

}

/* desktops */
@media (min-width: 980px) {
body {
    padding-top: 0px;
}

}

.main-image { width: 80%; }

/*
.main-image img { 
	width: 350px;
	margin-bottom: 20px !important;
}

.big-image img {
    width: 400px;
    margin-bottom: 20px !important;

}

a:hover {
    text-decoration: none;
}
.jumbotron {
	font-family: 'Open Sans';
	background: url('../images/marauders.jpg');
	background-size: cover;
	padding-top: 5%;
	padding-bottom: 5%;
}

.jumbotron h1 {
	font-size: 7em;
	color: white;
}

.jumbotron p {
	font-size: 2em;
	color: white;
}

#description { 
	margin-left: 10px; 
	padding-left: 2%;
}

.uppercase { text-transform: uppercase;}

.description { margin-top: 3%;}


.category{
	font-family: 'Open Sans';
}
	.nav-stacked {
	width: 100%;
}

#sidebar li, #sidebar h5, #sidebar h2, body {
	font-family: 'Open Sans';
	font-weight: 600;
}

#content h1, #content h3 {
  	font-weight: 900;
}


.infoitem {
padding-left: 4px;
padding-right: 10px;
}

.rating {
    font-family: Neucha;
    color: red;
    font-size: 3.5em;
   
}
*/
/* make sidebar nav vertical 
http://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3/ */ 
/*@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
*/
