{% extends "artifacts/base.html" %}

{% block name %}
Pensieve
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/pensieve.gif
{% endblock image_url %}

{% block description %}
<p> The Pensieve is an object used to review memories. It has the appearance of a shallow stone basin, into which are carved runes and strange symbols. It is filled with a silvery substance that appears to be a cloud-like liquid/gas, the collected memories of people who have siphoned their recollections into it. Memories can then be viewed from a non-participant, third-person point of view.
</p>
{% endblock description %}

{% block owners %}
<a href='/characters/1'>Albus Dumbledore</a><br/>
Severus Snape
{% endblock owners %}
