{% extends "artifacts/base.html" %}

{% block name %}
Elder Wand
{% endblock name %}

{% block info_group %}
<li class='list-group-item'>Deathly Hallows</li>
{% endblock info_group %}

{% block image_url %}
{{ STATIC_URL }}images/elder-wand.jpg
{% endblock image_url %}

{% block description %}
<p>The Elder Wand is one of the fabled Deathly Hallows. In the ""Tale of the Three Brothers"" it was the first Hallow created, bestowed on Antioch Peverell, supposedly by Death himself after the wizard requested, as his bounty, the most powerful wand in the history of wizardkind. According to legend, whoever reunited it with the other two Hallows, the Resurrection Stone and the Cloak of Invisibility, would become the Master of Death.</p>

<p>It is said to be the most powerful wand that has ever existed, able to perform feats of magic that would normally be considered impossible, such as mending another wand damaged beyond normal magical repair. It is known that the Elder Wand's core is the tail hair of a Thestral, a potent yet tricky substance to master that can only be handled by a witch or wizard who is capable of accepting death, since only by such can it be seen.</p>
{% endblock description %}

{% block stories %}
<a href='/stories/1'>Deathly Hallows</a>
{% endblock stories %}

{% block owners %}
Antioch Peverell<br/>
Gellert Grindelwald<br/>
<a href='/characters/1'>Albus Dumbledore</a><br/>
<a href='/characters/3'>Harry Potter</a>
{% endblock owners %}