{% extends "artifacts/base.html" %}

{% block name %}
Invisibility Cloak
{% endblock name %}

{% block info_group %}
<li class='list-group-item'>Deathly Hallows</li>
<li class='list-group-item'>Owned by <a href="/characters/3">Harry Potter</a></li>
{% endblock info_group %}

{% block image_url %}
{{ STATIC_URL }}images/invisibility-cloak.jpg
{% endblock image_url %}

{% block description %}
<p>An invisibility cloak is a magical garment which renders whatever it covers unseeable. They may be made from hair of Demiguise, a magical creature that possesses the power to become invisible. This property is used to make the wearer of the cloak invisible. However, as Xenophilius Lovegood tells Harry, Ron, and Hermione, such a cloak will gradually lose its effectiveness as the hair becomes more and more opaque. The cloak can also be formed from an ordinary travelling cloak, enchanted with an exceptionally strong disillusionment charm or a bedazzling hex. The cloak is also mentioned by being one of the entities in the Deathly Hallows. In the story the third brother asked for a way to hide from Death so Death himself gave the brother the cloak of invisibility.</p>
{% endblock description %}

{% block stories %}
The Three Brothers.
{% endblock stories %}
