{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block content %}
<div class='row'>
  <div class='col-xs-12 col-md-8 col-sm-6 info-group'>
    <h1 class="uppercase">{% block name %}{{ artifact.name }}{% endblock name %}</h1>
    <ul class='list-group info-group-list'>
      {% block info_group %}{% endblock info_group %}
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 col-md-12 col-sm-12' class="big-image">
    <img class='list-group-item' src='{{ artifact.image.url }}'>
  </div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{% block description %}{{ artifact.description|safe }}{% endblock description %}
	</div>
</div>

{% if artifact.owners.all %}
<div class='row'>
  <div class='col-md-12'>
    <h3 class='uppercase'>Owners</h3>
    {% block owners %}
        {% for character in artifact.owners.all %}
            <a href="{% url 'character' character.id %}">{{ character.name }}</a><br />
        {% endfor %}
    {% endblock owners %}
  </div>
</div>
{% endif %}

{% if artifact.stories.all %}
<div class='row'>
  <div class='col-md-12'>
    <h3 class='uppercase'>Stories</h3>
    {% block stories %}
        {% for story in artifact.stories.all %}
            <a href="{% url 'story' story.id %}">{{ story.name }}</a><br />
        {% endfor %}
    {% endblock stories %}
  </div>
</div>
{% endif %}

{% endblock content %}
