{% extends "base.html" %}

{% block content %}
<div class='row'>
  <div class='col-xs-12 col-sm-6 col-md-8 info-group'>
    <h1 class="uppercase">{% block name %}{% endblock name %}</h1>
    <ul class='list-group info-group-list'>
    {% block info_group %}{% endblock info_group %}
		</ul>
	</div>
</div>

<div class='row'>
  <center>
    <img class='center col-xs-12 col-sm-12 col-md-12' src='{% block image_url %}{% endblock image_url %}'></center>
</div>

<div class='row description'>
	<div class='col-md-12'>
		{% block description %}{% endblock description %}
	</div>
</div>

{% block stories %}
{% endblock stories %}

{% endblock content %}
