{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block breadcrumbs_items %}
<li><a href="{% url 'artifacts' %}">Artifacts</a></li>
<li class='active'>{{ artifact.name }}</li>
{% endblock breadcrumbs_items %}

{% block content %}
<div class='row'>
  <div class='col-xs-12 col-md-8 col-sm-6 info-group'>
    <h1 class="uppercase">{{ artifact.name }}</h1>
</div>

<div class='row'>
  <div class='col-xs-12 col-md-12 col-sm-12' class="big-image">
    <img class='list-group-item' src='{{ artifact.image.url }}'>
  </div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{{ artifact.description|safe }}
	</div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <ul class='timeline'>
      <li class="{% cycle 'timeline-inverted' '' as inversion %}" style='display: none;'></li>
        {% if artifact.owners.all %}
          <li class="{% cycle inversion %}">
            <div class='timeline-badge danger'><i class='glyphicon glyphicon-user'></i></div>
            <div class='timeline-panel'>
              <div class='timeline-heading'>
                <h3 class='timeline-title uppercase'>Owners</h3>
              </div>
              <div class='timeline-body'>
                {% for character in artifact.owners.all %}
                  <a href="{% url 'character' character.id %}">{{ character.name }}</a><br />
                {% endfor %}
              </div>
            </div>
          </li>
        {% endif %}

        {% if artifact.stories.all %}
          <li class="{% cycle inversion %}">
            <div class='timeline-badge success'><i class='glyphicon glyphicon-leaf'></i></div>
            <div class='timeline-panel'>
              <div class='timeline-heading'>
                <h3 class='timeline-title uppercase'>Stories</h3>
              </div>
              <div class='timeline-body'>
                {% for story in artifact.stories.all %}
                  <a href="{% url 'story' story.id %}">{{ story.name }}</a><br />
                {% endfor %}
              </div>
            </div>
          </li>
        {% endif %}

        {% if artifact.shop %}
          <li class="{% cycle inversion %}">
            <div class='timeline-badge'><i class='glyphicon glyphicon-shopping-cart'></i></div>
            <div class='timeline-panel'>
              <div class='timeline-heading'>
                <h3 class='timeline-title uppercase'>Sold By</h3>
              </div>
              <div class='timeline-body'>
                <a href="{% url 'shop' artifact.shop.id %}">{{ artifact.shop.name }}</a><br />
              </div>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock content %}
