{% extends "base.html" %}

{% block content %}
<div id="name">
    <h1 class="uppercase">{{ school.name }}</h1>
</div>

<div class='row'>
   	<div class='col-xs-12 col-md-6 col-sm-6 info-group'>
   		<ul class='list-group info-group-list'>
			<li class='list-group-item'>
			    {{ school.kind|capfirst }}
			</li>
			<li class='list-group-item'>
				{{ school.country }}
			</li>
			{% if school.founders.all %}
				<li class='list-group-item'>
					Founded by
					<ul>
						{% for founder in school.founders.all %}
							<li>
								{% if not founder.hidden %}
									<a href='{% url "character" founder.id %}'>
								{% endif %}
								{{ founder.name }}
								{% if not founder.hidden %}
									</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		</ul>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6'>
		<div class='main-imag pull-right'>
			<img class='list-group-item' src='{{ school.image.url }}'>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		{{ school.description|safe }}
	</div>
</div>

{% if school.stories.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
			<h3>RELATED STORIES</h3>
			{% for story in school.stories.all %}
		  		<a href="{% url 'story' story.id %}">{{ story.name }}</a><br/>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if school.headmasters.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
			<h3>HEADMASTERS</h3>
			{% for headmaster in school.headmasters.all %}
				{% if not headmaster.hidden %}
		  			<a href="{% url 'character' headmaster.id %}">
		  		{% endif %}
		  		{{ headmaster.name }}
		  		{% if not headmaster.hidden %}
		  			</a>
		  		{% endif %}
		  		<br/>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if school.professors.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
			<h3>PROFESSORS</h3>
			{% for professor in school.professors.all %}
				{% if not professor.hidden %}
		  			<a href="{% url 'character' professor.id %}">
		  		{% endif %}
		  		{{ professor.name }}
		  		{% if not professor.hidden %}
		  			</a>
		  		{% endif %}
		  		<br/>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if school.staff.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
			<h3>STAFF</h3>
			{% for employee in school.staff.all %}
				{% if not employee.hidden %}
		  			<a href="{% url 'character' employee.id %}">
		  		{% endif %}
		  		{{ employee.name }}
		  		{% if not employee.hidden %}
		  			</a>
		  		{% endif %}
		  		<br/>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if school.students.all %}
 	<div class='row'>
	  	<div class='col-md-12'>
			<h3>STUDENTS</h3>
			{% for student in school.students.all %}
				{% if not student.hidden %}
		  			<a href="{% url 'character' student.id %}">
		  		{% endif %}
		  		{{ student.name }}
		  		{% if not student.hidden %}
		  			</a>
		  		{% endif %}
		  		<br/>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% endblock content %}
