{% extends "potions/base.html" %}

{% block potion_active %}
in
{% endblock potion_active %}

{% block name %}
Amortentia
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/amortentia-hermione.gif
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Difficulty: Advanced</li>
<li class='list-group-item'>Physical Description:<br>Steam rises from Amortentia in coil-like designs.<br/> It has a mother-of-pearl luster.
</li>
<li class='list-group-item'>Ingredients:<br/>7 rose thorns<br/>1 Ashwinder egg<br/>1 scope of crushed Moonscope powder<br/>4 Belladonna flower petals<br/>a pinch of dried peppermint<br/></li>
{% endblock info_group %}


{% block effects %}
<p>Amortentia is the  most powerful of the love potions. The scent of the potion differs for everyone. To each person it is a combination of scents representing his or her favorite things in life. The drinker become sickly and pale and immediately possessed by obsession and infatuation.</p>
{% endblock effects %}

{% block recipe %}
<p>The ingredients are 7 rose thorns, 1 Ashwinder egg, 1 scope of crushed Moonscope powder, 4 Belladonna flower petals, and a pinch of dried peppermint.</p>
{% endblock recipe %}

{% block notable_uses %}
<p>Amortentia to Hermoine smells like newly cut grass, new parchment, and the hair of Ron Weasley. To <a href='/characters/3'>Harry Potter</a>, Amortentia smells like a broomstick handle, treacle tarts, and Ginny Weasley. There is a large fountain of Amortentia in the Love Room in the Department of Mysteries.</p>
{% endblock notable_uses %}
