{% extends "potions/base.html" %}

{% block potion_active %}
in
{% endblock potion_active %}

{% block name %}
Veritaserum
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/veritaserum-umbridge.jpeg
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Difficulty: Advanced</li>
<li class='list-group-item'>Physical Description:<br>No color and no odor</li>
<li class='list-group-item'>Ingredients: Unknown</li>
{% endblock info_group %}


{% block effects %}
<p>The drinker is forced to answer any question with whatever they believe is the truth. There is an antidote to Veritaserum, and its effects can be circumvented with Occlumency. Therefore, this potion cannot be considered a reliable indicator of innocence or guilt in a trial.</p>
{% endblock effects %}

{% block recipe %}
<p>It must be brewed for 28 days, or one lunar phase.</p>
{% endblock recipe %}

{% block notable_uses %}
<p>Veritaserum was used when <a href='/characters/1'>Albus Dumbledore</a> found out that Barty Crouch Jr. was disguised as Alastor Moody, the Defence Against the Dark Arts teacher. Dolores Umbridge unsuccessfully tried to have <a href='/characters/1'>Harry Potter</a> drink Veritaserum, however she had received a fake version of the potion from Severus Snape, and Harry had secretly dumped out the potion instead of drinking it.</p>
<p>There is an un-named antidote to Veritaserum. Also, Veritaserum's powers can be circumvented with Occlumency. Therefore, this potion cannot be considered a reliable indicator of innocence or guilt in a trial. The potion is also forbidden to be used against students at Hogwarts, much to Snape's disappointment.</p>
{% endblock notable_uses %}
