{% extends "potions/base.html" %}

{% block name %}
Veritaserum
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/veritaserum-umbridge.jpeg
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Difficulty: Advanced</li>
<li class='list-group-item'>Physical Description:<br>No color and no odor</li>
{% endblock info_group %}


{% block description %}
<p> Those who drink Veritaserum are forced to answer any question with whatever they believe is the truth.</p>
{% endblock description %}

{% block recipe %}
<p>It must be brewed for 28 days, or one lunar phase.</p>
{% endblock recipe %}

{% block memorable_usages %}
<p>Veritaserum was used When Dumbledore found out that Barty Crouch Jr. was disguised as Alastor Moody, the Defence Against the Dark Arts teacher.</p>
<p>Dolores Umbridge unsuccessfully tried to have <a href='/characters/3'>Harry Potter</a> drink Veritaserum. However, she had received a fake version of the potion from Severus Snape, and Harry had secretly dumped out the potion instead of drinking it.</p>
{% endblock memorable_usages %}

{% block more_information %}
<p>There is an un-named antidote to Veritaserum. Also, Veritaserum's powers can be circumvented with Occlumency. Therefore, this potion cannot be considered a reliable indicator of innocence or guilt in a trial. The potion is also forbidden to be used against students at Hogwarts, much to Severus Snape's disappointment.</p>
{% endblock more_information %}
