{% extends "potions/base.html" %}

{% block potion_active %}
in
{% endblock potion_active %}

{% block name %}
Regeneration Potion
{% endblock name %}

{% block image_url %}
{{ STATIC_URL }}images/regeneration-voldemort.gif
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Difficulty: Advanced</li>
<li class='list-group-item'>Physical Description:<br>Blazing white with rising steam</li>
<li class='list-group-item'>Ingredients:<br/>Bone of the wizard's father<br/>Flesh of the wizard's servant<br/>Blood of the wizard's enemy</li>
{% endblock info_group %}


{% block effects %}
<p>It is a Dark potion. The drinker's damaged or maimed body is returned to its former undamaged state.</p>
{% endblock effects %}

{% block recipe %}
<p>The three known ingredients are bone taken from the wizard's unwitting father, flesh donated knowingly and willingly by the wizard's servant, and blood from a foe taken by force.</p>
{% endblock recipe %}

{% block notable_uses %}
<p>Lord Voldemort used this potion to restore his body. Wormtail took <a href='/characters/3'>Harry Potter's</a> blood by force to use in the potion, because Voldemort thought Harry's blood would enable him to obtain more power than he had ever possessed. However, Voldemort was not able to kill Harry because his mother's protection from her love was in his blood.</p>
{% endblock notable_uses %}
