{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block breadcrumbs_items %}
<li><a href="{% url 'potions' %}">Potions</a></li>
<li class='active'>{{ potion.title }}</li>
{% endblock breadcrumbs_items %}

{% block content %}
<div id="name">
    <h1 class="uppercase">{{ potion.title }}</h1>
</div>

<div class='row'>
   	<div class='col-xs-12 col-md-6 col-sm-6 info-group'>
   		<ul class='list-group info-group-list'>
			<li class='list-group-item'>
			    Difficulty: {{ potion.get_difficulty_display|safe }}
			</li>
			<li class='list-group-item'>
				Physical Description:</br> {{ potion.physical_description|safe }}
			</li>
			{% if potion.ingredients.all %}
					<li class='list-group-item'>
						Ingredients:</br>
						{% for ingredient in potion.ingredients.all %}
						    {% if ingredient.creature and not ingredient.creature.hidden %}
						        <a href="{% url 'creature' ingredient.creature.id %}">{{ ingredient.name }}</a><br/>
						    {% else %}
						        {{ ingredient.name }}<br/>
						    {% endif %}
					    {% endfor %}
					</li>
			{% endif %}

		</ul>
	</div>

	<div class='col-xs-12 col-md-6 col-sm-6'>
		<div class='main-image pull-right'>
			<img class='list-group-item' src='{{ potion.image.url }}'>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
	    <h3>EFFECTS</h3>
		{{ potion.effects|safe }}
	</div>
</div>

{% if potion.recipe != 'Unknown' %}
    <div class='row'>
	    <div class='col-md-12'>
	        <h3>RECIPE</h3>
            {{ potion.recipe|safe}}
	    </div>
    </div>
{% endif %}


<div class='row'>
	<div class='col-md-12'>
		<h3>NOTABLE USES</h3>
		{{ potion.notable_uses|safe }}
	</div>
</div>


{% endblock content %}
