{% extends "base.html" %}

{% block content %}
        <div id="name">
   		    <h1 class="uppercase">{% block name %}{% endblock name %}</h1>
        </div>
<div class='row'>
   	<div class='col-md-5 col-sm-6 info-group'>
   		<ul class='list-group info-group-list'>
			{% block info_group %}{% endblock info_group %}
	</div>

	<div class='col-md-5 col-sm-6 main-image'>
		<img class='list-group-item' src='{% block image_url %}{% endblock image_url %}'>
	</div>
    <div class='col-sm-2'></div>
</div>

<div class='row'>
	<div class='col-md-12' id='description'>
		<h3>EFFECTS</h3>
		{% block effects %}{% endblock effects %}
	</div>
</div>



<div class='row'>
	<div class='col-md-12 block-text'>
		<h3>RECIPE</h3>
		{% block recipe %}
		{% endblock recipe %}
	</div>
</div>

<div class='row'>
	<div class='col-md-12 block-text'>
		<h3>NOTABLE USES</h3>
		{% block notable_uses %}
		{% endblock notable_uses %}
	</div>
</div>

{% endblock content %}
