{% extends "spells/base.html" %}

{% block alias %}
Boggart Banishing Charm
{% endblock alias %}


{% block image_url %}
{{ STATIC_URL }}images/boggart-banishing-charm.gif
{% endblock image_url %}

{% block info_group %}
<li class='list-group-item'>Creator: Unknown</li>
<li class='list-group-item'>Incantation: Riddikulus</li>
<li class='list-group-item'> Type: Charm</li>
<li class='list-group-item'>Effected Creatures: Boggarts</li>
<li class='list-group-item'> Difficulty: Easy to Moderate</li>
{% endblock info_group %}


{% block effect_description %}
<p>Causes a boggart to assume a form that is hilarious to the caster, which the caster must imagine while casting.</p>
{% endblock effect_description %}



{% block uses %}
<p>Remus Lupin teaches this to his third year class. <a href='/characters/3'>Harry Potter</a> used this during the Triwizard Tournament, during the maze task when confronted with a Boggart in the shape of a Dementor. At first he thought it was a real demontor, but when the Patronus Charm failed, he reasoned it must be a boggart.</p>

{% endblock uses %}