{% extends "base.html" %}

{% block data-active %}active{% endblock data-active %}

{% block content %}
        <div id="name">
   		    <h1 class="uppercase">{{ spell.incantation }}</h1>
        </div>

<div class='row'>
   	<div class='col-md-8 col-sm-6 info-group'>
   		<ul class='list-group info-group-list'>
			<li class='list-group-item'><strong>Alias:</strong> {{ spell.alias }}</li>
			<li class='list-group-item'><strong>Creator:</strong> {{ spell.creator }}</li>
			<li class='list-group-item'><strong>Kind:</strong> {{ spell.kind }}</li>
			<li class='list-group-item'><strong>Difficulty:</strong> {{ spell.difficulty }}</li>
			{% if spell.creature %}
			<li class='list-group-item'><strong>Affects:</strong>
			    <a href="{% url 'creature' spell.creature.id %}">
			        {{ spell.creature.name }}
			    </a><br />
			</li>
			{% endif %}
		</ul>
	</div>

	<div class='col-md-4 col-sm-6'>
		<div class='main-image pull-right'>
			<img class='list-group-item' src='{{ spell.image.url }}'>
		</div>
	</div>
</div>

<div class='row'>
	<div class='col-md-12 block-text'>
        <h3>EFFECTS</h3>
		{{ spell.effect }}
	</div>
</div>

<div class='row'>
	<div class='col-md-12 block-text'>
		<h3>NOTABLE USES</h3>
		{{ spell.notable_uses }}
	</div>
</div>

{% endblock content %}
